{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/freebeatscustomer/css/abonnez-vous.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id="freebeats-subscribe">
	<ul>
		<li>
			<div id="subscribe-now"><div class="subscribe-item selected"><p>En ligne</p></div></div>
			<div id="subscribe-now-content" class="subscribe-content" style="top : 323px; display: block">
				Abonnez-vous en toute simplicité! <br><br><br>
				Vous pouvez vous abonner en ligne, en remplissant soigneusement la fiche de 
				renseignement et en validant chaque étape d'inscription. 
				Ensuite vous recevrez un email de confirmation de votre inscription, 
				nous nous efforcerons de traiter dans un bref délai votre abonnement.<br><br><br>
				<a href="{{ path("freebeats_customer_create") }}"><div class="subscribe-button">Je m'abonne</div></a>
			</div>
		</li>
		<li>
			<div id="subscribe-mail"><div class="subscribe-item"><p>Par correspondance</p></div></div>
			<div id="subscribe-mail-content" class="subscribe-content">
				Nous vous encourageons à téléchager le formulaire d'inscription en format pdf, 
				de le remplir soigneusement puis nous le retouner à l'adresse ci-dessous avec 
				le reglement de la premiére échéance. <br><br><br>
 
				<div style="text-align: center">
					FREEDOM BEATS<br>
					117 RUE ERETO<br>
					75000 PARIS CEDEX<br>
				</div>
			</div>
		</li>
	</ul>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
 	  <!-- page dedicated scripts -->
	  <script type="text/javascript">
	  Muse.Utils.addSelectorFn('#widgetu4903', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:false}); });/* #widgetu4903 */
	  //Muse.Utils.addSelectorFn('#pamphletu4644', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {contentLayout_runtime:'lightbox',event:'click',deactivationEvent:'none',autoPlay:false,displayInterval:3000,transitionStyle:'fading',transitionDuration:1000,hideAllContentsFirst:false,shuffle:false}); });/* #pamphletu4644 */
	  Muse.Utils.addSelectorFn('#pamphletu3135', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {contentLayout_runtime:'stack',event:'click',deactivationEvent:'none',autoPlay:false,displayInterval:3000,transitionStyle:'vertical',transitionDuration:500,hideAllContentsFirst:false,shuffle:false}); });/* #pamphletu3135 */

      $("#subscribe-now").click(function(){ 
          $(".subscribe-content").css("display", "none"); 
          $("#subscribe-now-content").css("display", "block"); 
          $(".subscribe-item").removeClass("selected");
		  $("#subscribe-now .subscribe-item").addClass("selected");
      });
      $("#subscribe-mail").click(function(){ 
          $(".subscribe-content").css("display", "none"); 
          $("#subscribe-mail-content").css("display", "block"); 
		  $(".subscribe-item").removeClass("selected");
		  $("#subscribe-mail .subscribe-item").addClass("selected");
      });
	  </script>
{% endblock %}