{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/freebeatscustomer/css/abonnez-vous.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="grpelem" id="u2774"><!-- simple frame --></div>
<div class="PamphletWidget clearfix grpelem" id="pamphletu3135"><!-- group -->
      <div class="ThumbGroup clearfix grpelem" id="u3163"><!-- none box -->
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners clearfix PamphletThumbSelected" id="u3166"><!-- group -->
         <div class="clearfix grpelem" id="u3278-4"><!-- content -->
          <p>En ligne</p>
         </div>
        </div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners wp-tab-active clearfix" id="u3164"><!-- group -->
         <div class="clearfix grpelem" id="u3300-4"><!-- content -->
          <p>Par correspondance</p>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor">
       <div class="wp-slideshow-clip" style="position: absolute; width: 637px; height: 229px; overflow: hidden; left: 205px; top: 27px; "><div class="ContainerGroup clearfix" id="u3142" style="position: relative; top: 0px; left: 0px; width: 637px; height: 458px; margin: 0px; padding: 0px; overflow: visible; "><!-- stack box -->
        <div class="Container rounded-corners clearfix grpelem wp-panel wp-panel-active" id="u3148" style="left: 0px; top: 0px; margin: 0px; position: absolute; "><!-- column -->
         <div class="position_content" id="u3148_position_content">
          <div class="PamphletWidget clearfix colelem" id="pamphletu4644"><!-- group -->
           <div class="ThumbGroup clearfix grpelem" id="u4645"><!-- none box -->
            <div class="popup_anchor">
             <div class="Thumb popup_element rounded-corners clearfix wp-tab-active PamphletThumbSelected" id="u4647"><!-- group -->
              <div class="grpelem" id="u4648"><!-- image --></div>
              <div class="clearfix grpelem" id="u4672-4"><!-- content -->
               <a class="customersubscribelink" href="{{ path('freebeats_customer_create') }}"><p>Je m'abonne</p></a>
              </div>
             </div>
            </div>
           </div>
           <div class="popup_anchor">
            
           </div>
           <div class="popup_anchor">
            
           </div>
          </div>
          <div class="rounded-corners clearfix colelem" id="u3380"><!-- group -->
           <div class="clearfix grpelem" id="u3378-7"><!-- content -->
            <p>Abonnez-vous en toute simplicité!</p>
            <p>&nbsp;</p>
            <p>Vous pouvez vous abonner en ligne, en remplissant soigneusement la fiche de renseignement et en validant chaque étape d'inscription. Ensuite vous recevrez un email de confirmation de votre inscription, nous nous efforcerons de traiter dans un bref délai votre abonnement.</p>
           </div>
          </div>
         </div>
        </div>
        <div class="Container clearfix grpelem wp-panel" id="u3143" style="left: 0px; top: 229px; margin: 0px; position: absolute; "><!-- group -->
         <div class="rounded-corners clearfix grpelem" id="u3381"><!-- group -->
          <div class="clearfix grpelem" id="u3382-17"><!-- content -->
           <p>Nous vous encourageons à télèchager le <span id="u3382-2">formulaire d'inscription</span>&nbsp;<span id="u3382-4">en format pdf, de le</span>&nbsp;<span id="u3382-6">remplir soigneusement puis nous le retouner à l'adresse ci-dessous avec le reglement de la premiére échéance.</span></p>
           <p>&nbsp;</p>
           <p>&nbsp;</p>
           <p id="u3382-11">FREEDOM BEATS</p>
           <p id="u3382-13">117 RUE ERETO</p>
           <p id="u3382-15">75000 PARIS CEDEX</p>
          </div>
         </div>
        </div>
       </div></div>
      </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
 	  <!-- page dedicated scripts -->
	  <script type="text/javascript">
	  Muse.Utils.addSelectorFn('#widgetu4903', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:false}); });/* #widgetu4903 */
	  //Muse.Utils.addSelectorFn('#pamphletu4644', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {contentLayout_runtime:'lightbox',event:'click',deactivationEvent:'none',autoPlay:false,displayInterval:3000,transitionStyle:'fading',transitionDuration:1000,hideAllContentsFirst:false,shuffle:false}); });/* #pamphletu4644 */
	  Muse.Utils.addSelectorFn('#pamphletu3135', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {contentLayout_runtime:'stack',event:'click',deactivationEvent:'none',autoPlay:false,displayInterval:3000,transitionStyle:'vertical',transitionDuration:500,hideAllContentsFirst:false,shuffle:false}); });/* #pamphletu3135 */
    		   		
	  </script>
{% endblock %}