{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/freebeatscustomer/css/abonnez-vous.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block content %}

	<p style="color: red; margin-bottom:40px;" id="payment-canvas">
		<img id="payment-failed" src="{{ asset('bundles/freebeatshome/images/error.png') }}" alt="failed payment" width="50"/>
		<strong>Le paiement a été refusé ou vous avez annulé la transaction</strong>
		
		<br />
		<br />
		<br />
		La transaction n'a pas été prise en compte. <br />
		Soit votre paiement a été refusé, soit vous avez annulé la transaction.
	</p>

{% endblock %}