{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/freebeatscustomer/css/abonnez-vous.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div class="Container rounded-corners clearfix grpelem wp-panel wp-panel-active" id="u4664"><!-- group -->
            <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="LVJMFARVZUJL4">
				<input type="hidden" name="return" value="{{ url("freebeats_customer_pay_success") }}">
				<input type="hidden" name="rm" value="2">
				<input type="hidden" name="cancel_return" value="{{ url("freebeats_customer_pay_failed") }}">
				<input type="image" src="https://www.sandbox.paypal.com/fr_FR/FR/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
			</form>
    </div>


{% endblock %}