{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/freebeatsabout/css/a-propos.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="grpelem" id="u5894"><!-- image -->
      <img id="u5894_img" src="{{ asset('bundles/freebeatsabout/images/logo2.png') }}" alt="" width="227" height="146">
</div>

<div class="grpelem" id="pu5897"><!-- inclusion -->
      <div id="pu5897_position_content">
       <table class="inclusion_context">
        <tbody><tr>
         <td class="inclelem" id="u5897"><!-- simple frame -->
          <div style="width: 473px;">
           <div class="_u5897 f3s_top"></div>
           <div class="_u5897 f3s_mid"></div>
           <div class="_u5897 f3s_bot"></div>
          </div>
         </td>
         <td class="inclelem" id="pu5897_position_inner_content">
          <div class="clearfix" id="pu5898-17"><!-- group -->
           <div class="clearfix grpelem" id="u5898-17"><!-- content -->
            <p id="u5898-2">Freedom Beats est une société de création, de production et de&nbsp; diffusion de l’industrie de la musique créée pour lancer et développer le mouvement artistique éponyme. </p>
            <p id="u5898-3">&nbsp;</p>
            <p id="u5898-5">Freedom Beats axe principalement son travail sur la recherche et la promotion d’artistes du monde, ambassadeur d'une culture, d'une esthétique.</p>
            <p id="u5898-6">&nbsp;</p>
            <p id="u5898-8">Freedom Beats veut bousculer les codes et dogmes actuels du marché artistique et redonner en particulier à la Musique ses rôles essentiels de véhicule de&nbsp; messages fondamentaux et de passerelle entre les cultures. </p>
            <p id="u5898-9">&nbsp;</p>
            <p id="u5898-11">Freedom Beats propose de créer un nouveau rapport entre la Musique, les musiciens et le public. Il est temps de redonner au mélomane la capacité de redevenir acteur de la chaîne de création, de production et de promotion. </p>
            <p id="u5898-12">&nbsp;</p>
            <p id="u5898-14">C’est pour permettre aux mélomanes de libérer leur passion pour la musique, que Freedom Beats a crée la carte FBI – Freedom Beats Illimité, première carte d’abonnement pour concerts live.</p>
            <p id="u5898-15">&nbsp;</p>
           </div>
          </div>
         </td>
        </tr>
       </tbody></table>
      </div>
     </div>

{% endblock %}