#freebeats-subscribe
{
	/*z-index: 226;*/
	width: 700px;
	height: 360px;
	border-width: 1px;
	border-style: solid;
	border-color: #B8BABC;
	background-color: white;
	/*opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	*/
	padding: 20px 0px 0px 0px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

.subscribe-item
{
	width: 165px;
	background-color: black;
	border: 1px solid #000;
	border-radius: 0px 5px 5px 0px;
	margin-bottom: 10px;
	font-weight: bold;
	position: relative;
	top: 100px;
	cursor: pointer;
	color: #FFF;
	/*background: #CCC url("../images/pointe_d.png") no-repeat left center;*/
}

.subscribe-item p
{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#freebeats-subscribe .selected
{
	background: #CCC url("../images/pointe_d.png") no-repeat left center;
	border: 1px solid #CCC;
}

.subscribe-content
{
	position: absolute;
	left: 506px;
	width: 400px;
	border: 1px solid #F2F2F2;
	border-width: 1px;
	border-style: solid;
	border-color: #B8BABC;
	background-color: #E6E6E6;
	padding: 20px;
	display: none;
}

.subscribe-content .selected
{
	display: block;
}

.subscribe-button
{
	/*position: absolute;*/
	width: 125px;
	border-color: #DEDEDE;
	background-color: #5B5B5B;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	/*top: -76px;
	left: -314px;*/
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
	color: #FFF;
}

#customer-create
{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	background: white url("../images/low_contrast_linen_%402x.png") repeat center center;
	padding: 20px;
}
